.jumbotron {
  padding-top: 6rem;
  background-color: #4e9f3d;
}

#project {
  background-color: #4e9f3d;
}

footer {
  background-color: #1e5128;
}

.soon {
  background-color: #1e5128;
}

section {
  padding-top: 4rem;
}
